@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100 m-0 p-0 h-full;
  }
  
  body {
    @apply antialiased m-0 p-0 h-full;
  }
  
  #root {
    @apply h-full w-full m-0 p-0;
  }
  
  /* Scrollbar */
  ::-webkit-scrollbar {
    @apply w-2 bg-gray-200 dark:bg-gray-700;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-400 dark:bg-gray-600;
  }
}
